# List, Dictionary, Tuple, Set - Notes Below  
### *Created by Udaya* 🚀

# 📌 Python List - Quick Notes

| Feature            | Description |
|--------------------|-------------|
| **Definition**    | A list is an ordered, mutable collection of elements enclosed in square brackets `[]`. |
| **Syntax**        | `my_list = [1, 2, 3, 'apple', 4.5]` |
| **Heterogeneous** | A list can store different data types (int, float, string, etc.). |
| **Indexing**      | Lists support positive and negative indexing (`my_list[0]`, `my_list[-1]`). |
| **Slicing**       | Extract sublists using `my_list[start:end:step]`. |
| **Mutable**       | Lists allow modification (adding, removing, or changing elements). |
| **Methods**       | `append()`, `extend()`, `insert()`, `remove()`, `pop()`, `sort()`, `reverse()`, `count()`, `index()` |
| **Iteration**     | Use loops (`for` or `while`) and list comprehensions. |
| **Membership**    | Check if an item exists using `in` or `not in`. |
| **List Comprehension** | `[x**2 for x in range(5)]` → `[0, 1, 4, 9, 16]` |
| **Copying**       | Use `copy()` or slicing (`[:]`) to create a shallow copy. |
| **Nested Lists**  | Lists can contain other lists (`matrix = [[1,2,3], [4,5,6]]`). |
| **Sorting**       | `my_list.sort()` (modifies in place) or `sorted(my_list)` (returns new list). |
| **Reversing**     | `my_list.reverse()` (in-place) or `my_list[::-1]` (returns new reversed list). |

---

In [1]:
# 📌 Creating Lists
my_list = [1, 2, 3, 'apple', 4.5]
empty_list = []
nested_list = [[1, 2], [3, 4]]

In [2]:
# 📌 Accessing Elements
print(my_list[0])    # First element
print(my_list[-1])   # Last element
print(my_list[1:4])  # Slicing

1
4.5
[2, 3, 'apple']

In [3]:
# 📌 Modifying Lists
my_list[1] = 200     # Changing an element
my_list.append(100)  # Adding element at end
my_list.insert(2, 'banana')  # Insert at index

In [4]:
# 📌 Removing Elements
my_list.remove('apple')  # Removes 'apple'
popped = my_list.pop()   # Removes last element
del my_list[0]           # Deletes first element
my_list.clear()          # Removes all elements

In [5]:
# 📌 List Operations
my_list = [1, 2, 3] + [4, 5, 6]  # Concatenation
repeated_list = [0] * 5  # [0, 0, 0, 0, 0]

In [6]:
# 📌 Membership & Iteration
print(2 in my_list)   # True if 2 exists
for item in my_list:
    print(item)

True
1
2
3
4
5
6

In [7]:
# 📌 Sorting & Reversing
nums = [5, 2, 9, 1]
nums.sort()           # Sorts in place
sorted_nums = sorted(nums)  # Returns sorted list
nums.reverse()        # Reverse in place

In [8]:
# 📌 List Comprehensions
squares = [x**2 for x in range(5)]
even_nums = [x for x in nums if x % 2 == 0]

In [9]:
# 📌 Copying Lists
copy1 = my_list[:]  # Shallow copy
copy2 = my_list.copy()

In [10]:
# 📌 Nested Lists & Flattening
nested = [[1, 2], [3, 4]]
flat_list = [num for sublist in nested for num in sublist]

In [11]:
# 📌 Finding Index & Count
my_list = [1, 2, 2, 3, 4]
index = my_list.index(2)  # First occurrence
count = my_list.count(2)  # Count occurrences

In [12]:
# 📌 Using enumerate() to get index-value pairs
for index, value in enumerate(my_list):
    print(index, value)

0 1
1 2
2 2
3 3
4 4

In [13]:
# 📌 Using zip() to pair elements from multiple lists
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
paired = list(zip(list1, list2))

In [14]:
# 📌 Unpacking Lists
a, b, *rest = [10, 20, 30, 40]  # a=10, b=20, rest=[30, 40]

# 📌 Python Set - Quick Notes

| Feature          | Description |
|-----------------|-------------|
| **Definition**  | A set is an unordered, mutable collection of unique elements enclosed in `{}`. |
| **Syntax**      | `my_set = {1, 2, 3, 'apple', 4.5}` |
| **Uniqueness**  | Sets automatically remove duplicate values. |
| **Unordered**   | Sets do not maintain any specific order. |
| **Mutable**     | Elements can be added or removed but not modified. |
| **Methods**     | `add()`, `remove()`, `discard()`, `pop()`, `union()`, `intersection()`, `difference()`, `issubset()`, `issuperset()` |
| **Iteration**   | Can use `for` loops but cannot access elements by index. |
| **Membership**  | Use `in` or `not in` to check existence. |
| **Set Operations** | Supports union (`|`), intersection (`&`), difference (`-`), symmetric difference (`^`). |

---

In [15]:
# 📌 Creating Sets
my_set = {1, 2, 3, 'apple', 4.5}
empty_set = set()  # Correct way to create an empty set (not {})
duplicate_set = {1, 2, 2, 3}  # Duplicates are automatically removed

In [16]:
# 📌 Adding & Removing Elements
my_set.add(10)      # Adds an element
my_set.update([20, 30])  # Adds multiple elements
my_set.remove(3)    # Removes element (Error if not found)
my_set.discard(4.5) # Removes element (No error if not found)
popped = my_set.pop()  # Removes & returns a random element
my_set.clear()      # Removes all elements

In [17]:
# 📌 Set Operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1 | set2        # {1, 2, 3, 4, 5, 6}
intersection_set = set1 & set2 # {3, 4}
difference_set = set1 - set2   # {1, 2}
symmetric_diff = set1 ^ set2   # {1, 2, 5, 6}

In [18]:
# 📌 Checking Subset & Superset
is_subset = set1.issubset(set2)  # False
is_superset = set1.issuperset(set2)  # False

In [19]:
# 📌 Membership Testing
print(2 in set1)  # True if 2 is in the set
print(10 not in set1)  # True if 10 is not in the set

True
True

In [20]:
# 📌 Iterating Over a Set
for item in set1:
    print(item)

1
2
3
4

In [21]:
# 📌 Copying Sets
copy1 = set1.copy()

In [22]:
# 📌 Frozen Sets (Immutable Sets)
frozen = frozenset([1, 2, 3])
# frozen.add(4)  # ❌ ERROR: Frozen sets are immutable

In [23]:
# 📌 Set Comprehensions
squared_set = {x**2 for x in range(5)}  # {0, 1, 4, 9, 16}
filtered_set = {x for x in set1 if x % 2 == 0}  # Only even numbers

In [24]:
# 📌 Converting Lists/Tuples to Sets (Removing Duplicates)
list_with_dupes = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(list_with_dupes)  # {1, 2, 3, 4, 5}

# 📌 Python Dictionary - Quick Notes

| Feature          | Description |
|-----------------|-------------|
| **Definition**  | A dictionary is an unordered collection of key-value pairs enclosed in `{}`. |
| **Syntax**      | `my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}` |
| **Key-Value Pairs** | Each key maps to a specific value. |
| **Keys Uniqueness** | Keys must be unique, but values can be duplicated. |
| **Mutable**     | Values can be modified, but keys must be immutable. |
| **Methods**     | `keys()`, `values()`, `items()`, `get()`, `update()`, `pop()`, `clear()`, `setdefault()` |
| **Iteration**   | Use `for key in dict`, `for key, value in dict.items()`. |
| **Membership**  | Use `key in dict` to check existence. |
| **Nested Dictionary** | A dictionary can contain another dictionary as a value. |

---

In [ ]:
def add(x,y):
    print(x+y)
    
add(2,3)

In [ ]:
{
    key: value
}

In [1]:
a = {
    "uday" : 24,
    "nishil": 23,
    "aparna": 20,
    "Aditya": 23
}
a

{'uday': 24, 'nishil': 23, 'aparna': 20, 'Aditya': 23}

In [4]:
a['nishil']

23

In [5]:
empty = {}
empty

{}

In [10]:
xx = {
    "name":{
        "x":23,
        "y":24
    },
    "age":59
}
xx

{'name': {'x': 23, 'y': 24}, 'age': 59}

In [8]:
xx['name']

{'x': 23, 'y': 24}

In [11]:
x['name']['y']

24

In [12]:
xx

{'name': {'x': 23, 'y': 24}, 'age': 59}

In [13]:
xx.get('name')

{'x': 23, 'y': 24}

In [15]:
xx.get('fname','not')

'not'

In [16]:
xx.get('name','not')

{'x': 23, 'y': 24}

In [25]:
# 📌 Creating Dictionaries
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
empty_dict = {}  # Empty dictionary
dict_with_dict = {'person': {'name': 'Bob', 'age': 30}}  # Nested dictionary

In [26]:
# 📌 Accessing Values
print(my_dict['name'])  # Output: Alice
print(my_dict.get('age'))  # Output: 25 (Avoids KeyError if key is missing)
print(my_dict.get('gender', 'Not Found'))  # Default value if key is missing

Alice
25
Not Found

In [27]:
# 📌 Adding & Updating Values
my_dict['age'] = 26  # Update value
my_dict['gender'] = 'Female'  # Add new key-value pair
my_dict.update({'country': 'USA', 'age': 27})  # Bulk update

In [17]:
xx

{'name': {'x': 23, 'y': 24}, 'age': 59}

In [18]:
del xx['name']

In [19]:
xx

{'age': 59}

In [28]:
# 📌 Removing Key-Value Pairs
del my_dict['city']  # Remove 'city' key
popped_value = my_dict.pop('age')  # Removes 'age' & returns value
last_item = my_dict.popitem()  # Removes and returns last key-value pair
my_dict.clear()  # Clears entire dictionary

In [29]:
# 📌 Dictionary Operations
keys = my_dict.keys()  # Get all keys
values = my_dict.values()  # Get all values
items = my_dict.items()  # Get all key-value pairs

In [20]:
val = {'name': {'x': 23, 'y': 24}, 'age': 59}
val

{'name': {'x': 23, 'y': 24}, 'age': 59}

In [21]:
val.keys()

dict_keys(['name', 'age'])

In [22]:
val.values()

dict_values([{'x': 23, 'y': 24}, 59])

In [23]:
val.items()

dict_items([('name', {'x': 23, 'y': 24}), ('age', 59)])

In [30]:
# 📌 Iterating Over a Dictionary
for key in my_dict:
    print(key, my_dict[key])  # Key and value

for key, value in my_dict.items():
    print(f"{key}: {value}")  # Using unpacking

In [31]:
# 📌 Dictionary Comprehensions
squared_dict = {x: x**2 for x in range(1, 6)}  # {1: 1, 2: 4, ..., 5: 25}

In [32]:
# 📌 Checking Key Existence
print('name' in my_dict)  # True if 'name' exists
print('salary' not in my_dict)  # True if 'salary' does not exist

False
True

In [25]:
val

{'name': {'x': 23, 'y': 24}, 'age': 59}

In [24]:
'age' in val

True

In [26]:
'age' not in val

False

In [33]:
# 📌 Copying Dictionaries
dict_copy = my_dict.copy()  # Shallow copy
deep_dict = {'a': {'b': 2}}
import copy
deep_copy = copy.deepcopy(deep_dict)  # Deep copy (handles nested dicts)

In [27]:
# 📌 Merging Two Dictionaries (Python 3.9+)
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = dict1 | dict2  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
# 📌 Using defaultdict (Handles Missing Keys)
from collections import defaultdict
dd = defaultdict(int)  # Default value is 0
dd['missing_key'] += 5  # No KeyError, returns 5

# 📌 Python Tuple - Quick Notes

| Feature          | Description |
|-----------------|-------------|
| **Definition**  | A tuple is an ordered, immutable collection of elements enclosed in `()`. |
| **Syntax**      | `my_tuple = (1, 2, 3, 'apple', 4.5)` |
| **Immutable**   | Elements cannot be modified once created. |
| **Ordered**     | Tuples maintain the insertion order. |
| **Heterogeneous** | Tuples can store different data types. |
| **Indexing**    | Supports positive and negative indexing (`my_tuple[0]`, `my_tuple[-1]`). |
| **Slicing**     | Extract sub-tuples using `my_tuple[start:end:step]`. |
| **Methods**     | `count()`, `index()` |
| **Iteration**   | Can iterate using `for` loops. |
| **Tuple Packing & Unpacking** | `a, b, c = (1, 2, 3)` assigns values to variables. |

---

In [37]:
# 📌 Creating Tuples
empty_tuple = ()  # Empty tuple
single_element_tuple = (5,)  # Note the comma for a single-element tuple
my_tuple = (1, 2, 3, 'apple', 4.5)
nested_tuple = ((1, 2), (3, 4))  # Tuple inside a tuple
tuple_from_list = tuple([1, 2, 3])  # Convert list to tuple

In [38]:
# 📌 Accessing Elements
print(my_tuple[0])   # First element
print(my_tuple[-1])  # Last element
print(my_tuple[1:4]) # Slicing

1
4.5
(2, 3, 'apple')

In [39]:
# 📌 Tuple Packing & Unpacking
a, b, c = (10, 20, 30)  # Unpacking
x, *y, z = (1, 2, 3, 4, 5)  # x=1, y=[2,3,4], z=5

In [40]:
# 📌 Tuple Concatenation & Repetition
new_tuple = my_tuple + (6, 7)  # (1, 2, 3, 'apple', 4.5, 6, 7)
repeated_tuple = my_tuple * 2  # (1, 2, 3, 'apple', 4.5, 1, 2, 3, 'apple', 4.5)

In [41]:
# 📌 Tuple Methods
print(my_tuple.count(2))  # Count occurrences of 2
print(my_tuple.index('apple'))  # Find index of 'apple'

1
3

In [42]:
# 📌 Membership Testing
print(3 in my_tuple)   # True if 3 exists in tuple
print(100 not in my_tuple)  # True if 100 is not in tuple

True
True

In [43]:
# 📌 Iterating Over Tuples
for item in my_tuple:
    print(item)

1
2
3
apple
4.5

In [44]:
# 📌 Using Tuples in Dictionaries
tuple_key_dict = {(1, 2): 'point A', (3, 4): 'point B'}  # Tuples as dictionary keys

In [45]:
# 📌 Converting Tuples
tuple_to_list = list(my_tuple)  # Convert tuple to list
list_to_tuple = tuple([10, 20, 30])  # Convert list to tuple

In [46]:
# 📌 Nested Tuples & Accessing Elements
nested_tuple = ((1, 2, 3), (4, 5, 6))
print(nested_tuple[1][2])  # Output: 6

6

In [47]:
# 📌 Using Tuples in Functions (Returning Multiple Values)
def return_multiple():
    return 10, 20, 30  # Returns a tuple

result = return_multiple()
print(result)  # (10, 20, 30)

(10, 20, 30)